rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permite leitura e gravação sem necessidade de autenticação
      allow read, write;
    }
  }
}

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita em qualquer documento dentro da coleção "Cardapios"
    match /Cardapios/{document=**} {
      allow read, write;
    }
    match /Avaliacoes/{document=**} {
      allow read, write;
    }
  }
  
}
