rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permite leitura e gravação sem necessidade de autenticação
      allow read, write;
    }
  }
}
